* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* VARIABLES */
:root {
  --kiwi-blue: rgb(12, 105, 242);
  --kiwi-grey: rgb(229, 233, 235);
  --kiwi-purple: rgb(44, 12, 62);
}
